* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, 100px);
    grid-gap: 6px;
}

.wrapper_element {
    border: 1px solid #000;
}

.wrapper_element:nth-child(2n) {
    background: #800000;
}

.wrapper_element:nth-child(2n-1) {
    background: #787878;
}


/* good card */

.good-card {
    position: relative;
    width: 200px;
    height: 250px;
    box-shadow: 0px 4px 12px gray;
    border-radius: 12px;
    margin: auto;
    margin-top: 12px;
    font-family: Roboto;
    font-weight: 400;
}

.good-card__foreground {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #fbfbef;
    
}

.good-card__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: #fbfbef;
}

.good-card:hover > .good-card__background {
    z-index: 1;
    transition: 0.25s;
    box-shadow: 0px 4px 12px gray;
}

.good-card__content {
    display: grid;
    width: 200px;
    height: 250px;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(50px, auto);
}

.good-card__title {
    text-align: center;
    align-self: top;
    font-size: 18px;
    font-weight: 700;
}

.good-card__title_centered {
    align-self: center;
    padding-bottom: 8px;
}

.good-card__title_bordered {
    border-bottom: 1px solid burlywood;
}

.good-card__description {
    text-align: center;
    padding: 0px 6px;
    overflow-y: auto;
}

.good-card__price {
    text-align: center;
    align-self: center;

    font-size: 16px;
    font-weight: 300;
}

.good-card__img {
    background: url(./goods/test-img.jpg) top left / 100% no-repeat;
    grid-row: 1/4;
    border-radius: 12px;
}

.good-card__button {
    align-self: end;

    border: none;
    border-radius: 0 0 12px 12px;

    padding: 10px 15px;
    color: #FFF;
    font-size: 16px;
    font-weight: 300;

    background: #56D782; 
}

.good-card__button:active {
    outline: none;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    background: #F07D7D;
}

.good-card__button:hover {
    outline: none;
    font-weight: 400;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    box-shadow: inset 0px 0px 12px 1px rgba(0, 0, 0, 0.25);
}

.good-card__button:visited, .good-card__button:focus {
    outline: none;
}