.wrapper, .wrapper-task3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, 100px);
    grid-gap: 12px;
}

.wrapper__element {
    border: 1px solid #000;
}


.wrapper-task3 {
    margin-top: 32px;
}

.wrapper-task3__element {
    border: 1px solid #000;
}

.wrapper-task3__element:nth-child(-n + 1) {
    box-shadow: inset 0 0 100px #800000;
}

.wrapper-task3__element:nth-last-child(-n + 1) {
    box-shadow: inset 0 0 100px #787878;
}

.wrapper-task3__element:nth-child(2n) {
    box-shadow: inset 0 0 100px #ff3d3d;
}