<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../page2.css">

<div class="good-card">
    <div class="good-card__foreground">
        <div class="good-card__content">
            <div class="good-card__img"></div>
            <h3 class="good-card__title good-card__title_bordered">Title</h3>
            <div class="good-card__price">999 ₽</div>
        </div>
    </div>

    <div class="good-card__background">
        <div class="good-card__content">
            <h3 class="good-card__title good-card__title_centered good-card__title_bordered">Title</h3>
            <p class="good-card__description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti quod ad ipsa, eaque earum quis excepturi perspiciatis. Sed, suscipit corrupti?</p>
            <button class="good-card__button">Купить</button>
        </div>
    </div>
</div>
<!-- /.good-card -->